<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="z_cv_read_salcv_binding">
                    <textMessageEncoding messageVersion="Soap11"/>
                    <httpsTransport authenticationScheme="Basic"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://av000t2p.sap.tkelevator.com:44348/sap/bc/srt/rfc/sap/z_cv_read_sales_conf/010/z_cv_read_sales_conf/z_cv_read_salcv_binding" binding="customBinding" bindingConfiguration="z_cv_read_salcv_binding" contract="SAPConnection.Z_CV_READ_SALES_CONF" name="z_cv_read_salcv_binding"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
